In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 

import seaborn as sns

athlete_events=pd.read_csv('athlete_events.csv')
noc_regions=pd.read_csv('noc_regions.csv')

athlete_events

athlete_events.describe()

#maxmimum age is 97 a little bit wierd 
#we will see the person with age more than 90

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [4]:
Adults = athlete_events[athlete_events['Age']>80]
Adults
#John Quincy Adams Ward	 dies of age 80 how he contributed with age of 97 
# we will propably drop this row  with id of 257054 

# why Thomas Cowperthwait Eakins is assigned in the database 3 times we will drop 2 rows of id 60862 and 60863


#also winslow hormer wasn't in 1932 olympics we will drop him 98118

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
9371,5146,George Denholm Armour,M,84.0,NaN,NaN,Great Britain,GBR,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60861,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60862,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
60863,31173,Thomas Cowperthwait Eakins,M,88.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
98118,49663,Winslow Homer,M,96.0,NaN,NaN,United States,USA,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Painting, Unknown Event",NaN
154855,77710,Robert Tait McKenzie,M,81.0,NaN,NaN,Canada,CAN,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Sculpturing, Unknown Event",NaN
236912,118789,Louis Tauzin,M,81.0,NaN,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Art Competitions,Art Competitions Mixed Sculpturing,NaN
257054,128719,John Quincy Adams Ward,M,97.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Sculpturing, Statues",NaN

In [16]:
#let's see smallest ages 

teens = athlete_events[athlete_events['Age']<13]
teens

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
9648,5291,Marcia Arriaga Larrinua,F,12.0,168.0,58.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 100 metres Freestyle,NaN
9649,5291,Marcia Arriaga Larrinua,F,12.0,168.0,58.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 200 metres Freestyle,NaN
9650,5291,Marcia Arriaga Larrinua,F,12.0,168.0,58.0,Mexico,MEX,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,NaN
43468,22411,Magdalena Cecilia Colledge,F,11.0,152.0,NaN,Great Britain,GBR,1932 Winter,1932,Winter,Lake Placid,Figure Skating,Figure Skating Women's Singles,NaN
46955,24191,Philippe Cuelenaere,M,12.0,170.0,50.0,Belgium,BEL,1984 Summer,1984,Summer,Los Angeles,Rowing,Rowing Men's Coxed Pairs,NaN
50291,25877,Olga Lucia de Angulo Irragorri,F,12.0,160.0,60.0,Colombia,COL,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 400 metres Freestyle,NaN
50292,25877,Olga Lucia de Angulo Irragorri,F,12.0,160.0,60.0,Colombia,COL,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 800 metres Freestyle,NaN
50293,25877,Olga Lucia de Angulo Irragorri,F,12.0,160.0,60.0,Colombia,COL,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 200 metres Individual Medley,NaN
50294,25877,Olga Lucia de Angulo Irragorri,F,12.0,160.0,60.0,Colombia,COL,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 400 metres Individual Medley,NaN
60911,31203,"Patricia Anne ""Pat"" Eastwood",F,12.0,NaN,NaN,South Africa,RSA,1960 Winter,1960,Winter,Squaw Valley,Figure Skating,Figure Skating Women's Singles,NaN
73461,37333,Carlos Bienvenido Front Barrera,M,11.0,NaN,NaN,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Rowing,Rowing Men's Coxed Eights,NaN
79024,40129,Luigina Giavotti,F,11.0,NaN,NaN,Italy,ITA,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Silver
79352,40296,Alain C. Giletti,M,12.0,NaN,NaN,France,FRA,1952 Winter,1952,Winter,Oslo,Figure Skating,Figure Skating Men's Singles,NaN
84361,42835,Werner Grieshofer,M,12.0,170.0,48.0,Austria,AUT,1972 Summer,1972,Summer,Munich,Rowing,Rowing Men's Coxed Pairs,NaN
85840,43528,Antoinette Joyce Guedia Mouafo,F,12.0,170.0,55.0,Cameroon,CMR,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 50 metres Freestyle,NaN
91910,46578,Diana Hatler,F,12.0,164.0,46.0,Puerto Rico,PUR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 400 metres Freestyle,NaN
91911,46578,Diana Hatler,F,12.0,164.0,46.0,Puerto Rico,PUR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 800 metres Freestyle,NaN
91912,46578,Diana Hatler,F,12.0,164.0,46.0,Puerto Rico,PUR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,NaN
91913,46578,Diana Hatler,F,12.0,164.0,46.0,Puerto Rico,PUR,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
93850,47506,Hem Reaksmey,F,12.0,175.0,65.0,Cambodia,CAM,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Women's 100 metres Breaststroke,NaN
94058,47618,"Sonja Henie (-Topping, -Gardiner, -Onstad)",F,11.0,155.0,45.0,Norway,NOR,1924 Winter,1924,Winter,Chamonix,Figure Skating,Figure Skating Women's Singles,NaN
96236,48728,Margery Hinton,F,12.0,168.0,NaN,Great Britain,GBR,1928 Summer,1928,Summer,Amsterdam,Swimming,Swimming Women's 200 metres Breaststroke,NaN
96665,48939,Ho Gang,M,12.0,NaN,NaN,North Korea,PRK,1988 Winter,1988,Winter,Calgary,Figure Skating,Figure Skating Men's Singles,NaN
97086,49142,Jan Hoffmann,M,12.0,178.0,73.0,East Germany,GDR,1968 Winter,1968,Winter,Grenoble,Figure Skating,Figure Skating Men's Singles,NaN
101378,51268,Beatrice Hutiu,F,11.0,151.0,38.0,Romania,ROU,1968 Winter,1968,Winter,Grenoble,Figure Skating,Figure Skating Women's Singles,NaN
102916,52070,Etsuko Inada,F,11.0,NaN,NaN,Japan,JPN,1936 Winter,1936,Winter,Garmisch-Partenkirchen,Figure Skating,Figure Skating Women's Singles,NaN
108031,54620,"Belita Gladys Lyne Jepson Turner (-Riordan, -K...",F,12.0,166.0,NaN,Great Britain,GBR,1936 Winter,1936,Winter,Garmisch-Partenkirchen,Figure Skating,Figure Skating Women's Singles,NaN
118048,59727,"Marika Kilius (-Zahn, -Schfer)",F,12.0,168.0,51.0,Germany,GER,1956 Winter,1956,Winter,Cortina d'Ampezzo,Figure Skating,Figure Skating Mixed Pairs,NaN
120233,60854,Judit Kiss,F,12.0,171.0,57.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 400 metres Freestyle,NaN
120234,60854,Judit Kiss,F,12.0,171.0,57.0,Hungary,HUN,1992 Summer,1992,Summer,Barcelona,Swimming,Swimming Women's 800 metres Freestyle,NaN
126542,63816,Carolyn Patricia Krau,F,12.0,137.0,36.0,Great Britain-2,GBR,1956 Winter,1956,Winter,Cortina d'Ampezzo,Figure Skating,Figure Skating Mixed Pairs,NaN
140650,70616,Liu Luyang,F,11.0,NaN,NaN,China,CHN,1988 Winter,1988,Winter,Calgary,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
142882,71691,Dimitrios Loundras,M,10.0,NaN,NaN,Ethnikos Gymnastikos Syllogos,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Parallel Bars, Teams",Bronze
145150,72854,Licia Macchini,F,12.0,NaN,NaN,Italy,ITA,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Women's Team All-Around,NaN
148942,74712,Carla Marangoni,F,12.0,NaN,NaN,Italy,ITA,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Silver
149033,74755,Luciana Marcellini Hercolani Gaddi,F,12.0,163.0,58.0,Italy,ITA,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 200 metres Breaststroke,NaN
152798,76675,Marcelle Matthews,F,11.0,NaN,NaN,South Africa,RSA,1960 Winter,1960,Winter,Squaw Valley,Figure Skating,Figure Skating Mixed Pairs,NaN
168941,84913,Clstine N'Drin,F,12.0,169.0,56.0,Cote d'Ivoire,CIV,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Women's 400 metres,NaN
168942,84913,Clstine N'Drin,F,12.0,169.0,56.0,Cote d'Ivoire,CIV,1976 Summer,1976,Summer,Montreal,Athletics,Athletics Women's 800 metres,NaN
192507,96664,Dorothy Poynton-Hill (-Teuber),F,12.0,NaN,NaN,United States,USA,1928 Summer,1928,Summer,Amsterdam,Diving,Diving Women's Springboard,Silver
197894,99362,Antonia Real Horrach,F,12.0,160.0,50.0,Spain,ESP,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 400 metres Freestyle,NaN
197895,99362,Antonia Real Horrach,F,12.0,160.0,50.0,Spain,ESP,1976 Summer,1976,Summer,Montreal,Swimming,Swimming Women's 800 metres Freestyle,NaN
226019,113580,Inge Srensen (-Tabur),F,12.0,NaN,NaN,Denmark,DEN,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Women's 200 metres Breaststroke,Bronze
236977,118832,"Chin Say ""Molly"" Tay",F,12.0,145.0,41.0,Malaysia,MAS,1964 Summer,1964,Summer,Tokyo,Swimming,Swimming Women's 100 metres Butterfly,NaN
237141,118925,Megan Olwen Devenish Taylor (-Mandeville-Ellis),F,11.0,157.0,NaN,Great Britain,GBR,1932 Winter,1932,Winter,Lake Placid,Figure Skating,Figure Skating Women's Singles,NaN
249803,125092,tienne Nol Henri Vandernotte,M,12.0,NaN,37.0,France,FRA,1936 Summer,1936,Summer,Berlin,Rowing,Rowing Men's Coxed Pairs,Bronze
249804,125092,tienne Nol Henri Vandernotte,M,12.0,NaN,37.0,France,FRA,1936 Summer,1936,Summer,Berlin,Rowing,Rowing Men's Coxed Fours,Bronze
251495,125944,Ines Vercesi,F,12.0,NaN,NaN,Italy,ITA,1928 Summer,1928,Summer,Amsterdam,Gymnastics,Gymnastics Women's Team All-Around,Silver
252230,126307,Liana Vicens,F,11.0,158.0,50.0,Puerto Rico,PUR,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 100 metres Breaststroke,NaN
252231,126307,Liana Vicens,F,11.0,158.0,50.0,Puerto Rico,PUR,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 200 metres Breaststroke,NaN
252232,126307,Liana Vicens,F,11.0,158.0,50.0,Puerto Rico,PUR,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 200 metres Individual Medley,NaN
252233,126307,Liana Vicens,F,11.0,158.0,50.0,Puerto Rico,PUR,1968 Summer,1968,Summer,Mexico City,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
253662,127018,Yelena Germanovna Vodorezova (-Buyanova),F,12.0,161.0,47.0,Soviet Union,URS,1976 Winter,1976,Winter,Innsbruck,Figure Skating,Figure Skating Women's Singles,NaN

In [35]:
# let's see how man nan weigh values 
count_nan = athlete_events['Weight'].isnull()
count_nan
# we will probably get the mean of each sport

0         False
1         False
2          True
3          True
4         False
          ...
271111    False
271112    False
271113    False
271114    False
271115    False
Name: Weight, Length: 271116, dtype: bool

In [44]:
athlete_events.loc[athlete_events.isnull()]

ValueError: Cannot index with multidimensional key